:root {
  /* font-size */
  --title-font-size: 45px;
  --large-font-size: 20px;
  --regular-font-size: 16px;
  --small-font-size: 12px;

  /* spaceing */
  --big-spacing: 16px;
  --regular-spacing: 12px;
  --small-spacing: 8px;

  /* color */
  --main-color: #fff3e0;
  --title-color: black;
  --main-search-color: #ccc0ae;
}
/* 초기화 */
body {
  background-color: var(--main-color);
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* header */
header {
  text-align: center;
  width: 100%;
  margin: 30px 0;
}
header a {
  font-size: var(--title-font-size);
  color: var(--title-color);
}
/* nav */
nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
nav ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
  border: 1px solid gray;
  margin: 0 var(--regular-spacing);
  background-color: var(--main-search-color);
  border-radius: 5px;
  box-shadow: 1px 1px 10px gray;
  width: 414px;
}
nav ul li {
  padding: var(--small-spacing) 0;
}
nav ul li a {
  color: black;
}
/* form */
form {
  width: 100%;
  display: flex;
  justify-content: center;
}
form .MainSearch {
  width: 414px;
  height: 300px;
  margin: 0 var(--regular-spacing);
  text-align: center;
  border-radius: 20px;
  border: 1.2px solid gray;
  background-color: var(--main-search-color);
  box-shadow: 3px 3px 20px gray;
}
form .MainSearch .SearchContiner {
  display: flex;
  height: 200px;
  justify-content: space-evenly;
  align-items: center;
}
form .MainSearch .SearchContiner .vs {
  height: 50px;
  line-height: 50px;
}
form .MainSearch .SearchContiner .SearchBox {
  border: 1.5px solid black;
  border-radius: 5px;
}
form .MainSearch .SearchContiner .SearchBox input {
  display: inline-block;
  border: none;
}
form .MainSearch .CompareBox {
  width: 60px;
  margin: 0 auto;
}
form .MainSearch .CompareBox input {
  display: inline-block;
  border-radius: 5px;
  box-shadow: 1px 1px 1px;
  outline: none;
  background-color: #fffff6;
}
form .MainSearch .CompareBox input:active {
  box-shadow: -1px -1px 1px;
  background-color: #e0e0e0;
}

@media screen and (min-width: 600px) {
  header a {
    font-size: 70px;
  }
  nav ul {
    width: 800px;
  }
  form .MainSearch {
    width: 800px;
  }
}
